#!/usr/bin/make -f

help:
	@echo "redhat/rules tar # make ../Lintel-<version>.tar.gz"
	@echo "redhat/rules copy-tar # copy ../Lintel-<version>.tar.gz to rpm_topdir"
	@echo "redhat/rules rpm # build rpms"
	@echo "redhat/rules repo # copy rpms to yum repo under $$REDHAT_REPO"
	@echo "redhat/rules clean # clean up temporary files made during above steps"

.SECONDARY:

# Should we build against vault.centos.org for the older versions?  CentOS changes various things
# so that it's not clear you can install an RPM built against 5.6 on 5.4.
# See also: http://www.centos.org/modules/smartfaq/faq.php?faqid=34
CENTOS_VERSIONS := 5 5.5 5.6

MOCK_CENTOS := $(foreach version, $(CENTOS_VERSIONS), $(foreach arch, x86_64 i386, \
		    redhat/stamp/mock/centos-$(version)-$(arch)))

FEDORA_VERSIONS := 13 14

MOCK_FEDORA := $(foreach version, $(FEDORA_VERSIONS), $(foreach arch, x86_64 i386, \
		    redhat/stamp/mock/fedora-$(version)-$(arch)))

# Supported releases: http://en.wikipedia.org/wiki/OpenSUSE
OPENSUSE_VERSIONS := 11.2 11.3 11.4

opensuse: 
	# sudo ./redhat/opensuse-build.sh opensuse-11.4-x86_64
	sudo ./redhat/opensuse-build.sh opensuse-11.4-i586

mock: mock-centos mock-fedora

mock-centos: $(MOCK_CENTOS)

mock-fedora: $(MOCK_FEDORA)

redhat/stamp/mock/%: /var/cache/mock/lintel-%/root_cache/cache.tar.gz /etc/mock/lintel-%.cfg redhat/stamp/srpm
	[ `whoami` = root ]
	mock --rebuild --cleanup-after --resultdir=/var/lib/mock/result/$* \
	    -r lintel-$* `redhat/get-lintel-srpm.sh $*`
	mkdir -p `dirname $@`
	touch $@

/var/cache/mock/%/root_cache/cache.tar.gz: /etc/mock/%.cfg
	[ `whoami` = root ]
	[ ! -z "$$http_proxy" ]
	ls -l /etc/mock/$*.cfg
	sudo mock --init -r $*

/etc/mock/lintel-%.cfg: 
	[ `whoami` = root ]
	./redhat/mock-cfg.pl $*
	echo "made $@"

tar: redhat/stamp/tar

copy-tar: redhat/stamp/copy-tar

rpm: redhat/stamp/rpm

srpm: redhat/stamp/srpm

redhat/stamp/srpm:
	/bin/sh redhat/make-srpms.sh
	mkdir -p `dirname $@`
	touch $@

repo: redhat/stamp/repo

clean:
	-if [ -d _MTN ]; then rm Release.info Changelog.mtn; fi
	-. redhat/get-version.sh && rm ../Lintel-$$VERSION.tar.gz
	rm -rf redhat/stamp
	rm redhat/Lintel.spec

redhat/stamp:
	mkdir -p $@

redhat/stamp/tar: redhat/stamp
	./redhat/make-tar.sh
	touch $@

redhat/stamp/copy-tar: redhat/stamp/tar
	./redhat/copy-tar.sh
	touch $@

redhat/stamp/rpm: redhat/stamp/copy-tar
	rpmbuild -ba redhat/Lintel.spec
