#!/usr/bin/make -f

help:
	@echo "redhat/rules tar # make ../Lintel-<version>.tar.gz"
	@echo "redhat/rules rpm # build rpms"
	@echo "redhat/rules repo # copy rpms to yum repo under $$REDHAT_REPO"
	@echo "redhat/rules clean # clean up temporary files made during above steps"
	@echo "redhat/rules all-rpms # rebuild rpms on all the different platforms we support"
	@echo "    # note you probably need lots of environment setup for this target to work"

.SECONDARY:

tar: redhat/stamp/tar

rpm: redhat/stamp/rpm

spec: redhat/stamp/spec

repo: redhat/stamp/repo

clean:
	-if [ -d _MTN ]; then rm Release.info Changelog.mtn; fi
	-. redhat/get-version.sh; rm ../Lintel-$$VERSION.tar.gz
	rm -rf redhat/stamp
	[ ! -f redhat/Lintel.spec ] || rm redhat/Lintel.spec

redhat/stamp/tar: 
	[ ! -f redhat/Lintel.spec ] || rm redhat/Lintel.spec
	./redhat/make-tar.sh
	mkdir -p `dirname $@`
	touch $@

# separate from tar so that we don't get the spec file in the tarball
redhat/stamp/spec: redhat/stamp/tar
	./redhat/make-spec.sh
	touch $@

redhat/stamp/rpm: redhat/stamp/spec
	rpmbuild -ba redhat/Lintel.spec
